.main {
  height: 96vh;
  width: 96vw;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 30px;
  background-color: rgb(3, 39, 61);
  position: fixed;
}

body, article, img{
  text-align: center;
  height: 100%;
  width: 100%;
  margin: auto;
}
    .container {
      position: relative;
      text-align: center;
      margin: 0;
      padding: 0;
     height: 100%;
     width: 100%;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 }

 .createdby {
  position: absolute;
  font-family:Garamond, 'Times New Roman', Times, serif;
  font-size: 15px;
  top: 5%;
  left: 5%;
} 

.contact {position: absolute; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 13px; top: 15%; right: 8%; padding: 1%; background: rgba(20, 181, 230, 0.834); text-align: center; border-radius: 10%;  }

.left-name {position: absolute; font-family: Brush Script MT, 'Times New Roman', Times, serif; font-size: 240%; top: 1%; left: 20%; letter-spacing: 5px;}


.aboutme {
  position: absolute;
  top: 26%;
  left: 10%;
  color: black;
  font-family:Georgia , 'Times New Roman', Times, serif;
  font-size: 35px;
}

.aboutme1 {
  position: absolute;
  top: 33%;
  left: 0%;
  color: black;
  font-family:Georgia , 'Times New Roman', Times, serif;
  font-size: 20px;
  padding: 2%;
  background: rgba(20, 181, 230, 0.834);
  text-align: center;
  border-radius: 10%;
}

.education {
  position: fixed;
  top: 65%;
  left: 45%;
  color: black;
  font-family:Georgia , 'Times New Roman', Times, serif;
  font-size: 35px;
  text-decoration: underline;
}
.education:hover {background-color: white;}

.volunteer{
  position: fixed;
  top: 80%;
  right: 17%;
  color: black;
  font-family:Georgia , 'Times New Roman', Times, serif;
  font-size: 35px;
  text-decoration: underline;
}
.volunteer:hover {background-color: white;}


.workexperience {
  position: fixed;
  top: 73%;
  left: 20%;
  color: black;
  font-family:Georgia , 'Times New Roman', Times, serif;
  font-size: 35px;
  text-decoration: underline;
}
.workexperience:hover {background-color: white;}


.languages {
  position: fixed;
  top: 73%;
  right: 15%;
  color: black;
  font-family:Georgia , 'Times New Roman', Times, serif;
  font-size: 35px;
  text-decoration: underline;
}

.languages:hover {background-color: white;}

.papers {
  position: fixed;
  top: 80%;
  left: 15%;
  color: black;
  font-family:Georgia , 'Times New Roman', Times, serif;
  font-size: 35px;
  text-decoration: underline;
}
.papers:hover {background-color: white;}


.direct {
  position: fixed;
  top: 70%;
  right: 46%;
  color: black;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}
