.main {
  height: 96vh;
  width: 96vw;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 30px;
  margin-left: 30px;
  background-color: rgb(3, 39, 61);
  position: fixed;
}

body, article, img{
  text-align: center;
  height: 100%;
  width: 100%;
  margin: auto;
}
    .container {
      position: relative;
      text-align: center;
      margin: 0;
      padding: 0;
     height: 100%;
     width: 100%;
 }

 .createdby {
  position: absolute;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  top: 8px;
  left: 50px;
} 

.left-name {position: absolute; font-family:Georgia, 'Times New Roman', Times, serif; font-size: 40px; top: 10px; left: 100px;}


.aboutme {
  position: absolute;
  top: 20%;
  left: 20%;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  text-decoration: underline;
}
.aboutme:hover {background-color: white;}

.workexperience {
  position: absolute;
  top: 30%;
  left: 25%;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  text-decoration: underline;
}
.workexperience:hover {background-color: white;}

.education {
  position: absolute;
  top: 40%;
  left: 35%;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  text-decoration: underline;
}
.education:hover {background-color: white;}

.languages {
  position: absolute;
  top: 50%;
  left: 25%;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  text-decoration: underline;
}

.languages:hover {background-color: white;}

.papers {
  position: absolute;
  top: 60%;
  left: 10%;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  text-decoration: underline;
}
.papers:hover {background-color: white;}

.VAvideo {
  position: absolute;
  top:30%;
  right: 15%;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  text-decoration: underline;
}
.VAvideo:hover {background-color: white;}

.authorship {
  position: absolute;
  top: 40%;
  right: 35%;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  text-decoration: underline;
}
.authorship:hover {background-color: white;}

.art {
  position: absolute;
  top: 50%;
  right: 30%;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  text-decoration: underline;
}
.art:hover {background-color: white;}

.volunteer{
  position: absolute;
  top: 60%;
  right: 11%;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  text-decoration: underline;
}
.volunteer:hover {background-color: white;}
